<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAxoWf22LL7OqagK5RGdCS914YzcZ_gzNg</string>
	<key>GCM_SENDER_ID</key>
	<string>1060561916082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kowopay</string>
	<key>PROJECT_ID</key>
	<string>kowopay</string>
	<key>STORAGE_BUCKET</key>
	<string>kowopay.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060561916082:ios:e160b9e94e9890d83cb9ab</string>
	<key>DATABASE_URL</key>
	<string>https://kowopay-default-rtdb.firebaseio.com</string>
</dict>
</plist>